body {
  background:#f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.calculator {
  background: black;
  width: 280px;
  height: 550px;
  border-radius: 25px;
  padding: 20px;
  
}

.display {
  color: white;
  font-size: 64px;
  height: 120px;
  display: flex;
  justify-content: flex-end;   
  align-items: flex-end;       
  padding-right: 10px;
  margin-top: 20px;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 20px;
}

button {
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  background: #333;
  color: white;
  cursor: pointer;
}

button.gray {
  background: #a5a5a5;
  color: black;
}

button.orange {
  background: #ff9500;
  color: white;
}

button.zero {
  grid-column: span 2;
  border-radius: 30px;
  text-align: left;
  padding-left: 22px;
  
}
